einops==0.4.0
ipykernel==6.27.1
isort==5.13.2
lightning-utilities==0.10.0
matplotlib==3.7.0
numpy==1.23.5
pandas==1.5.3
patool==1.12
pytorch-lightning==2.1.3
reformer_pytorch==1.4.4
scikit_learn==1.2.2
scipy==1.12.0
seaborn==0.13.1
setproctitle==1.3.3
sktime==0.16.1
sympy==1.11.1
tensorboard==2.14.0
torch==1.12.1
torchmetrics==1.3.0
tqdm==4.64.1
xlrd==2.0.1
